



<head>
    <!-- footer css linking -->
    <link rel="stylesheet" href="/css/footer.css">
</head>


    
    <div class="social-media" >
        <img src="icons/programmer.png" width="100px" height="100" alt="">
        <div class="social-secondary">
            <h3 style="color: #EEEDDE; margin-left: 1rem;">Social <span> IDs</span></h3>
            <p><a href="">Instagram</a></p>
            <p><a href="mailto:official.pradeepsahu@gmail.com" target="_blank">Gmail</a></p>
            <p><a href="">Twitter</a></p>
        </div>

        <div class="social-primary">
            <h3>Professional <span>IDs</span></h3>
            <p><a href="">Github</a></p>
            <p><a href="">LinkedIn</a></p>
            <p><a href="">Email</a></p>
        </div>
    </div>


