<head>
    <!-- icon favicon top -->
    <link rel="icon" href="/images/air.png" type="image/gif" >
    <!-- Css linking -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/project.css">


</head>
<body>
    <%- include('partials/header'); -%>

    <section class="project-main">
        <h1>Heading for the project</h1>
        <div class="left-container">
            <div>
            <img src="/images/powered.png" alt="">
            <p>This is the project to create a new A.I Robot in the middle of the desert and i will try to acheive it in no time with my money and hardwork <a href="">Read more</a></p>
            </div>
            <div>
                <img src="/images/micro.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officiis repudiandae explicabo ea error, alias nesciunt eligendi reprehenderit eveniet est, nihil, consequatur libero. Dolore sequi ipsam maiores a porro corrupti? <button>Read more</button></p>
            </div>
            
            
        </div>
        <div class="right-container">
            <div>
                <img src="/images/printed-circuit.png" width="800px" height="300px" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic totam quidem sapiente rem quaerat. Fugiat reprehenderit, deserunt quibusdam minus iste sit? Minima veritatis, rerum tenetur quibusdam architecto at cumque!</p>
            </div>
            <div>
                <img src="/images/diploma.png" width="800px" height="300px" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam eveniet incidunt ipsam? Corporis quod possimus, veritatis ipsa reprehenderit magnam ea recusandae, labore sint itaque modi, nihil ad? Laboriosam, magnam ea.</p>
            </div>
            <div>
                <img src="/images/circuit_v1.png" width="800px" height="300px" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam eveniet incidunt ipsam? Corporis quod possimus, veritatis ipsa reprehenderit magnam ea recusandae, labore sint itaque modi, nihil ad? Laboriosam, magnam ea.</p>
            </div>
        </div>
    </section>
    <section class="second-main">
        <div class="container">
            
                <article class="article">
                    <div class="">
                    <a href="">
                        <div class="img-wrapper">
                            <img src="/images/ar.png" width="295px" alt="">
                        </div>
                        <div>
                            <h2> Project Name</h2>
                            <p>This is my second project one of its kind i don't want to listen critisism about it, i want pure sympathy and apprecialtion from everyone around me, if anyone dare to critisize me i will kill them without any mercy </p>

                       </div>
                    </a>

                </article>
                <article class="article">
                    
                    <a href="">
                        <div class="img-wrapper">
                            <img src="/images/ar.png" width="295px" alt="">
                        </div>
                        <div>
                            <h2> Project Name</h2>
                            <p>This is my second project one of its kind i don't want to listen critisism about it, i want pure sympathy and apprecialtion from everyone around me, if anyone dare to critisize me i will kill them without any mercy </p>
                        </div>
                    </a>

                </article>
                <article class="article">
                    
                    <a href="">
                        <div class="img-wrapper">
                            <img src="/images/ar.png" width="295px" alt="">
                        </div>
                        <div>
                            <h2> Project Name</h2>
                            <p>This is my second project one of its kind i don't want to listen critisism about it, i want pure sympathy and apprecialtion from everyone around me, if anyone dare to critisize me i will kill them without any mercy </p>

                       </div>
                    </a>

                </article>
                <article class="article">
                    
                    <a href="">
                        <div class="img-wrapper">
                            <img src="/images/ar.png" width="295px" alt="">
                        </div>
                        <div>
                            <h2> Project Name</h2>
                            <p>This is my second project one of its kind i don't want to listen critisism about it, i want pure sympathy and apprecialtion from everyone around me, if anyone dare to critisize me i will kill them without any mercy </p>

                       </div>
                    </a>

                </article>
                <article class="article">
                    
                    <a href="">
                        <div class="img-wrapper">
                            <img src="/images/ar.png" width="295px" alt="">
                        </div>
                        <div>
                            <h2> Project Name</h2>
                            <p>This is my second project one of its kind i don't want to listen critisism about it, i want pure sympathy and apprecialtion from everyone around me, if anyone dare to critisize me i will kill them without any mercy </p>

                       </div>
                    </a>

                </article>

            </div>
        </div>
    </section>
    <section class="third-main">
        <div>
            <table>
                <tr>
                    <td>
                        <article class="">
                        <a href="">
                            <div>
                                <img src="/images/circuit_v1.png" width="290px"  alt="">
                            </div>
                            <div >
                                <h2>Project Name</h2>
                                <p>I don't know what i am going to do but maybe i will know soon what is my purpose and what i want to do in my life lets see how much money will i make how much satisfaction i will get in my life and how much educated will i become i just want that my life should not be a boring one.</p>
                            </div>
                        </a>
                    </article>
                    </td>
                    <td>
                        <article class="">
                        <a href="">
                            <div>
                                <img src="/images/circuit_v1.png" width="290px"  alt="">
                            </div>
                            <div >
                                <h2>Project Name</h2>
                                <p>I don't know what i am going to do but maybe i will know soon what is my purpose and what i want to do in my life lets see how much money will i make how much satisfaction i will get in my life and how much educated will i become i just want that my life should not be a boring one.</p>
                            </div>
                        </a>
                    </article>
                    </td>
                    <td>
                        <article class="">
                        <a href="">
                            <div>
                                <img src="/images/circuit_v1.png" width="290px"  alt="">
                            </div>
                            <div >
                                <h2>Project Name</h2>
                                <p>I don't know what i am going to do but maybe i will know soon what is my purpose and what i want to do in my life lets see how much money will i make how much satisfaction i will get in my life and how much educated will i become i just want that my life should not be a boring one.</p>
                            </div>
                        </a>
                    </article>
                    </td>
                    <td>
                        <article class="">
                        <a href="">
                            <div>
                                <img src="/images/circuit_v1.png" width="290px"  alt="">
                            </div>
                            <div >
                                <h2>Project Name</h2>
                                <p>I don't know what i am going to do but maybe i will know soon what is my purpose and what i want to do in my life lets see how much money will i make how much satisfaction i will get in my life and how much educated will i become i just want that my life should not be a boring one.</p>
                            </div>
                        </a>
                    </article>
                    </td>
                </tr>
            </table>
            
        </div>

    </section>
    
</body>
<footer>
    <%- include('partials/footer') -%>
</footer>
